<div class="justify-around flex sm:flex-row flex-col items-center">
  <div class="w-1/2 px-3 flex flex-col">
    <form [formGroup]="form" (submit)="getWeather()">
      <app-input-form
        [placeholder]="'Ciudad'"
        [fc]="form.controls['term']"
        [errorMessages]="{ key: 'El campo es requerido' }"
        [label]="'Ciudad'"
      ></app-input-form>

      <app-button-form
        type="submit"
        [disabled]="form.invalid"
      ></app-button-form>
    </form>
  </div>
  <div class="w-1/2 px-3 flex flex-col">
    <app-card
      *ngIf="weather$ | async as weather"
      [weather]="weather"
    ></app-card>

    <div class="w-1/2 px-3 flex flex-col items-center" *ngIf="error === 0">
      <p>
        No se encontro ninguna ciudad con el nombre {{ form.get("term").value }}
      </p>
    </div>
  </div>
</div>
