<mat-card class="example-card">
  <mat-progress-bar
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value"
    [bufferValue]="bufferValue"
  >
  </mat-progress-bar>
  <mat-card-title-group>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Large</mat-card-subtitle>
    <img
      mat-card-lg-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
  </mat-card-title-group>
  <mat-card-content>
    {{ longText }}
  </mat-card-content>
</mat-card>
