<mat-card class="example-card">
  <!-- <mat-progress-bar
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value"
    [bufferValue]="bufferValue"
  >
  </mat-progress-bar> -->
  <mat-card-title-group class="card items-center">
    <mat-card-title class="justify-center items-center"
      >{{ weather.name }}, {{ weather.sys.country }}
    </mat-card-title>
    <mat-card-subtitle
      >{{ weather.main.temp | number: "1.0-0" }}&#8451;

      <p>{{ weather.weather[0].main }}</p>
      <p>{{ weather.weather[0].description }}</p>
    </mat-card-subtitle>
    <img
      style="width: 40%"
      src="{{ baseUrlIcon }}{{ weather.weather[0].icon }}@2x.png"
    />
  </mat-card-title-group>
  <mat-card-content class="card-contentd">
    <div class="w-full grid sm:grid-cols-3 gap-3 grid-cols-1 items-center">
      <div class="flex flex-col">
        <label>Precipitación</label>
        <p>{{ weather.main.pressure }}<sub>hPa</sub></p>
      </div>
      <div class="flex flex-col">
        <label>Humedad</label>
        <p>{{ weather.main.humidity }}<sub>%</sub></p>
      </div>
      <div class="flex flex-col">
        <label>Velocidad Viento</label>
        <p>{{ weather.wind.speed }}<sub>m/s</sub></p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
